.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 64px;
  max-width: 335px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
    gap: 64px 32px;
    max-width: 704px;
  }
}

@media (min-width: 300px) and (max-width: 1439px) {
  .list > li:nth-child(n + 7) {
    display: none;
  }
}

@media (min-width: 1440px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1312px;
  }
}
