.page {
  padding: 32px 0;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 375px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
}

.clientContainer {
  width: 100%;
}

.filters {
  width: 100%;
  display: grid;
  grid-template-areas:
    "cat"
    "prices"
    "sort"
    "reset";
  margin-bottom: 32px;
}

.selectCat {
  grid-area: cat;
  margin-bottom: 32px;
  width: 100%;
}

.inputGroup {
  grid-area: prices;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
  margin-bottom: 24px;
}

.input {
  height: 37px;
  padding: 8 12px;
  border: 2px solid #000;
  border-radius: 6px;
  background-color: #fff;
  font: inherit;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6);
}

.selectPop {
  grid-area: sort;
  margin-bottom: 16px;
  width: 100%;
}

.resetBtn {
  grid-area: reset;
  justify-self: start;
}

.summary {
  width: 100%;
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 16px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

.loadMoreButton {
  display: block;
  margin-top: 32px;
  width: 100%;
  height: 41px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .filters {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "cat prices"
      "reset sort";
    align-items: center;
    gap: 26px 96px;
  }

  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 64px 32px;
  }

  .loadMoreButton {
    width: 169px;
    height: 41px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1440px) {
  .page {
    padding: 48px 0;
  }

  .container {
    max-width: 1440px;
    padding: 0 64px;
  }

  .title {
    font-size: 48px;
  }

  .filters {
    grid-template-columns: 304px 304px 1fr auto 191px;
    grid-template-areas: "cat prices . reset sort";
    align-items: center;
    gap: 24px;
  }

  .grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 64px 32px;
  }

  .loadMoreButton {
    width: 186px;
    height: 44px;
    font-size: 16px;
  }
}
