/* violet */
.violet {
  border-radius: 6px;
  border: 2px solid #8808cc;
  background-color: #8808cc;
  color: #fff;
  transition:
    background-color 250ms ease,
    border-color 250ms ease,
    color 250ms ease;
}

.violet:hover,
.violet:focus-visible {
  background-color: transparent;
  border-color: #8808cc;
  color: #000;
}

.violet:focus {
  outline: none;
}

.violet:active {
  background-color: #e7cdf4;
  border-color: #8808cc;
  color: #000;
}

.violet:disabled {
  opacity: 0.4;
  border-color: #8808cc;
  background: #8808cc;
  color: #fff;
}

/* transparent */
.transparent {
  border-radius: 6px;
  border: 2px solid #000;
  background-color: transparent;
  color: #000;
  transition:
    background-color 250ms ease,
    border-color 250ms ease,
    color 250ms ease;
}

.transparent:hover,
.transparent:focus-visible {
  background-color: #e7cdf4;
  border-color: #000;
  color: #000;
}

.transparent:focus {
  outline: none;
}

.transparent:active {
  background-color: #8808cc;
  border-color: #8808cc;
  color: #fff;
}

.transparent:disabled {
  opacity: 0.4;
  border-color: #000;
  background: transparent;
  color: #000;
}
